---
const pageTitle =
  "<Mukund/> Blogs | Full-Stack Developer | Python Developer | Enthusiast | Student";
import Navelement from "../components/Navelement.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout pageTitle={pageTitle}>
  <Navelement />
  <h1 class="dark:text-white text-primary">Blogs Page</h1>
</MainLayout>
