---
import Button from "./Button.astro";
---

<div
  class="items-center p-8 border-b-2 border-[#ffffff1a] grid grid-cols-2 gap-20"
>
  <div class="w-full col-span-1">
    <div class="max-w-[456px] space-y-6">
      <h1 style="text-wrap: balance" class="text-5xl relative">
        Hello, I'm Mukund Mittal a Full Stack Web/Python Developer
        <img
          src="/arrow.png"
          alt="arrow"
          class="absolute w-20 -top-6 -right-4 hidden lg:block animate-arrow"
        />
      </h1>
      <div class="space-x-8">
        <Button variant="blue">Projects</Button>
        <Button variant="outline">Get in Touch</Button>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center col-span-1">
    <div
      class="w-full bg-white aspect-square rounded-br-lg rounded-tl-lg rounded-bl-[7.5rem] rounded-tr-[7.5rem] max-w-[456px]"
    >
      Image
    </div>
  </div>
</div>
