---
import { Button } from "./Button.tsx";
import CanvasElement from "./HeroImageAnimation";
---

<div
  id="home"
  class="items-center p-8 border-b-2 border-[#ffffff1a] grid grid-cols-2 lg:gap-20 gap-24 overflow-x-hidden"
>
  <div class="flex items-center justify-center col-span-2 lg:col-span-1">
    <div
      class="w-full flex items-end justify-center overflow-hidden relative aspect-square max-w-[456px]"
    >
      <div class="absolute w-[120%] aspect-square">
        <CanvasElement client:load />
      </div>
    </div>
  </div>
  <div
    class="w-full flex justify-center lg:justify-start col-span-2 lg:col-span-1"
  >
    <div class="max-w-[456px] space-y-6 text-center lg:text-left">
      <h1 style="text-wrap: balance" class="text-5xl relative">
        Hello, I'm Mukund Mittal a Full Stack Web/Python Developer
        <img
          src="/arrow.png"
          alt="arrow"
          class="absolute w-20 xl:-top-6 xl:-right-8 lg:-right-6 sm:-top-8 sm:-right-8 -top-14 -right-8 lg:block animate-arrow"
        />
      </h1>
      <div
        class="flex flex-col gap-8 lg:flex-row justify-center md:justify-start"
      >
        <a href="#projects">
          <Button variant="blue">Projects</Button>
        </a>
        <a href="#contact">
          <Button variant="outline">Get in Touch</Button>
        </a>
      </div>
    </div>
  </div>
</div>
<div></div>
