---
import Button from "./Button.astro";
import Sliderlink from "./SliderLink.astro";
---

<nav
  class="flex items-center justify-between h-24 border-b-2 border-[#ffffff1a]"
>
  <a
    href="/"
    class="flex items-center gap-4 hover:opacity-75 duration-200 transition-all ease-linear"
  >
    <img
      src="/logo-dark.png"
      alt="logo"
      width={128}
      height={128}
      class="w-16 h-16"
    />
    <h1 class="text-5xl">Mukund</h1>
  </a>
  <ul class="gap-4 text-xl font-bold hidden lg:flex">
    <li>
      <Sliderlink href="#home">Home</Sliderlink>
    </li>
    <li>
      <Sliderlink href="#about">About</Sliderlink>
    </li>

    <li>
      <Sliderlink href="#services">Services</Sliderlink>
    </li>
    <li>
      <Sliderlink href="#projects">Projects</Sliderlink>
    </li>
    <li>
      <Sliderlink href="#contact">Contact</Sliderlink>
    </li>
    <li>
      <Sliderlink href="#blog">Blog</Sliderlink>
    </li>
  </ul>
  <div class="hidden lg:block">
    <Button variant="blue">Download CV</Button>
  </div>
  <div class="lg:hidden">
    <Button variant="blue" className="p-4" label="menu-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"
        ></path>
      </svg>
    </Button>
  </div>
</nav>
