---
import Button from "./Button.astro";
import Sliderlink from "./SliderLink.astro";
---

<nav
  class="flex items-center justify-between h-24 border-b-2 border-[#ffffff1a]"
>
  <a
    href="/"
    class="flex items-center gap-4 hover:opacity-75 duration-200 transition-all ease-linear"
  >
    <img
      src="/logo-dark.png"
      alt="logo"
      width={128}
      height={128}
      class="w-16 h-16"
    />
    <h1 class="text-5xl">Mukund</h1>
  </a>
  <ul class="flex gap-4 text-xl font-bold">
    <li>
      <Sliderlink href="#home">Home</Sliderlink>
    </li>
    <li>
      <Sliderlink href="#about">About</Sliderlink>
    </li>

    <li>
      <Sliderlink href="#services">Services</Sliderlink>
    </li>
    <li>
      <Sliderlink href="#projects">Projects</Sliderlink>
    </li>
    <li>
      <Sliderlink href="#contact">Contact</Sliderlink>
    </li>
    <li>
      <Sliderlink href="#blog">Blog</Sliderlink>
    </li>
  </ul>
  <div>
    <Button variant="blue">Download CV</Button>
  </div>
</nav>
