---
import MobileNav from "./MobileNav";
import SliderButton from "./SliderButton.astro";
import SliderLink from "./SliderLink.astro";
---

<nav
  class="flex p-4 xl:px-6 items-center justify-between fixed top-0 w-full backdrop-blur-md bg-white dark:bg-primary bg-opacity-70 dark:bg-opacity-70 z-50"
>
  <div class="logo">
    <a href="/">
      <img
        alt="Logo"
        class="text-white content-[url(/logo-with-name-light.webp)] dark:content-[url(/logo-with-name-dark.webp)] lg:hover:opacity-80"
        width="150"
        height="75"
      />
    </a>
  </div>
  <!-- Desktop Navigation -->
  <ul class="hidden md:flex md:gap-9 lg:gap-12">
    <li>
      <SliderLink href="/">Home</SliderLink>
    </li>
    <li>
      <SliderLink href="/about">About Me</SliderLink>
    </li>
    <li>
      <SliderLink href="/projects">Projects</SliderLink>
    </li>
    <li>
      <SliderLink href="/blog">Blog</SliderLink>
    </li>
  </ul>
  <div class="hidden md:block">
    <SliderButton aria-label="Contact Me">Contact Me</SliderButton>
  </div>
  <!-- Mobile Navigation -->
  <MobileNav client:visible />
</nav>
<div class="h-[76px] w-full"></div>
