---
import Button from "./Button.astro";
import MobileNav from "./MobileNav";
import Sliderlink from "./SliderLink.astro";
---

<nav
id="navbar"
  class="flex xl:px-40 px-4 md:px-8 backdrop-blur-md z-30 fixed w-full top-0 left-0 items-center justify-between h-24 border-b-2 border-[#ffffff1a]"
>
  <a
    href="/"
    class="flex items-center gap-4 hover:opacity-75 duration-200 transition-all ease-linear"
  >
    <img
      src="/logo-dark.png"
      alt="logo"
      width={128}
      height={128}
      class="w-16 h-16"
    />
    <h1 class="text-5xl">Mukund</h1>
  </a>
  <ul class="gap-4 text-xl font-bold hidden lg:flex">
    <li>
      <Sliderlink href="#home">Home</Sliderlink>
    </li>
    <li>
      <Sliderlink href="#about">About</Sliderlink>
    </li>

    <li>
      <Sliderlink href="#services">Services</Sliderlink>
    </li>
    <li>
      <Sliderlink href="#projects">Projects</Sliderlink>
    </li>
    <li>
      <Sliderlink href="#contact">Contact</Sliderlink>
    </li>
    <li>
      <Sliderlink href="#blog">Blog</Sliderlink>
    </li>
  </ul>
  <div class="hidden lg:block">
    <Button variant="blue">Download CV</Button>
  </div>
  <div class="lg:hidden group">
    <MobileNav client:load />
  </div>
</nav>

<div class="h-16"></div>
