---
const props = Astro.props;
import { twMerge } from "tailwind-merge";
---

<a
  class={twMerge(
    "before:content-[''] before:w-0 before:bg-white hover:before:w-full before:ease-linear before:duration-500 before:absolute before:-top-2 before:left-0 before:h-[1.5px] after:content-[''] after:w-0 after:bg-white hover:after:w-full after:ease-linear after:duration-500 after:absolute after:-bottom-2 after:right-0 after:h-[1.5px] relative",
    props.class
  )}
  {...props}
>
  <slot />
</a>
