---
const props = Astro.props;
import { twMerge } from "tailwind-merge";
---

<button
  {...props}
  class={twMerge(
    "bordery border-opacity-30 border-white px-4 py-2 relative hover:text-primary before:-z-10 before:content-[''] before:bg-white before:absolute before:left-0 before:w-0 hover:before:w-full before:top-0 before:h-full before:ease-linear before:duration-500 before:transition-all ease-linear duration-500 transition-all text-lg font-semibold rounded-sm",
    props.class
  )}
>
  <slot />
</button>
