---
import AnimationName from "./AnimationName.astro";
---

<div
  class="w-full bg-black h-screen fixed inset-0 z-40 overflow-hidden mainStart"
>
  <div
    class="relative w-full h-[50vh] flex justify-center overflow-hidden upperPart"
  >
    <div class="absolute -bottom-[18.6%]">
      <AnimationName />
    </div>
  </div>
  <div
    class="relative w-full h-[50vh] flex justify-center overflow-hidden lowerPart"
  >
    <div class="absolute -top-[25%]">
      <AnimationName />
    </div>
  </div>
</div>
