---
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="manifest.json" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#1f2122"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#000000	"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="description"
      content="Portfolio of Mukund Mittal. I am a full stack developer and python enthusiast. I love to build things and solve problems."
    />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-white dark:bg-primary w-full text-primary dark:text-white">
    <slot />
  </body>
</html>
