---
const { pageTitle } = Astro.props;
import Navelement from "../components/Navelement.astro";
import Start from "../components/Start.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/logo-dark.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#000000" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="description"
      content="Portfolio of Mukund Mittal. I am a full stack developer and python enthusiast. I love to build things and solve problems."
    />
    <title>{pageTitle}</title>
  </head>
  <body
    class="min-h-[100dvh] overflow-x-hidden relative"
  >
  <Start />
  <div class="xl:px-40 px-4 md:px-8 space-y-8 relative">
    <Navelement />
    <slot />
  </div>
  </body>
</html>
