---
const { pageTitle } = Astro.props;
import Navelement from "../components/Navelement.astro";
import Start from "../components/Start.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      media="(prefers-color-scheme: dark)"
      type="image/png"
      href="/logo-dark.png"
    />
    <link
      rel="icon"
      media="(prefers-color-scheme: light)"
      type="image/png"
      href="/logo-light.png"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="/manifest.json" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#1f2122"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#ffffff"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="description"
      content="Portfolio of Mukund Mittal. I am a full stack developer and python enthusiast. I love to build things and solve problems."
    />
    <title>{pageTitle}</title>
  </head>
  <body
    class="xl:px-40 px-4 md:px-8 space-y-8 min-h-[100dvh] overflow-x-hidden"
  >
    <Start />
    <Navelement />
    <slot />
  </body>
</html>
